body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  font-family: helvetica;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;

}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;

}

input {
  margin-top: 10px;
  background-color:#ffddf6;
  border: 1px;
  border-color: #ffddf6;

}

.addOption{
  margin-top: 10px;
  background-color: #ffd700;
  border: none;
  color: #053f5e;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: helvetica;
  transition: all 0.3s ease;

}

.submit {
  margin-top: 10px;
  background-color: #ffd700;
  border: none;
  color: #053f5e;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family:helvetica;


}

.resultSection {
  height: 300px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-family: helvetica;
  color:#022c43;
}

img {
  margin-top: 10px;
}


html {
  background-color: #FD8AE1
}
